  <footer class="csf-footer">
    <div class="container">

      <ul class="csf-footer-networks">
        <li><iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=Codestar&amp;repo=codestar-framework&amp;type=watch&amp;count=true" width="100" height="20" title="Star on GitHub"></iframe></li>
        <li><iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=Codestar&amp;repo=codestar-framework&amp;type=fork&amp;count=true" width="102" height="20" title="Fork on GitHub"></iframe></li>
        <li><a href="https://twitter.com/codestarthemes" class="twitter-follow-button" data-link-color="#0069D6" data-show-count="true">Follow @codestarthemes</a></li>
        <li><a href="https://twitter.com/share" class="twitter-share-button" data-url="http://codestarframework.com/" data-count="horizontal" data-via="codestarthemes" data-related="mdo:Creator of Codestar">Tweet</a></li>
      </ul>

      <ul class="csf-footer-links">
        <li><a href="{{ site.baseurl }}/codestar/">Codestar</a></li>
        <li><a href="{{ site.baseurl }}/themes/">Themes</a></li>
        <li><a href="{{ site.baseurl }}/documentation/" class="csf-footer-link-doc">Documentation</a></li>
        <li><a href="{{ site.baseurl }}/license/">License</a></li>
        <li><a href="{{ site.baseurl }}/support/">Support</a></li>
        <li><a href="{{ site.github }}">Github</a></li>
      </ul>

    </div>
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/baguettebox.js@1.11.0/dist/baguetteBox.min.js"></script>
  <script src="{{ "/assets/js/site.js" | prepend: site.baseurl }}"></script>

</body>
</html>
