<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width initial-scale=1">
  <meta name="description" content="{{ site.description }}">
  <meta name="keywords" content="{{ site.keywords }}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.2.1/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/baguettebox.js@1.11.0/dist/baguetteBox.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css">
  <link href="{{ "/assets/images/favicon.ico" | prepend: site.baseurl }}" rel="icon" type="image/png" />
  <link href="{{ "/assets/css/style.css" | prepend: site.baseurl }}" rel="stylesheet" />
</head>
<body class="csf">

<div class="csf-header">
  <div class="container">
    <nav class="navbar navbar-expand-lg">
      <a class="csf-logo" href="/">Codestar Framework</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars"></i></button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item"><a href="/" class="nav-link{% if page.title == nil %} active{% endif %}"><i class="fa fa-home"></i> Home</a></li>
          <li class="nav-item"><a href="{{ site.baseurl }}/codestar/" class="nav-link{% if page.title == 'Codestar' %} active{% endif %}"><i class="fa fa-star"></i> Codestar</a></li>
          <li class="nav-item"><a href="{{ site.baseurl }}/themes/" class="nav-link{% if page.title == 'Themes' %} active{% endif %}"><i class="fa fa-flask"></i> Themes</a></li>
          <li class="nav-item"><a href="{{ site.baseurl }}/documentation/" class="nav-link nav-link-doc"><i class="fa fa-book"></i> Documentation</a></li>
          <li class="nav-item"><a href="{{ site.baseurl }}/license/" class="nav-link{% if page.title == 'License' %} active{% endif %}"><i class="fa fa-file-text"></i> License</a></li>
          <li class="nav-item"><a href="{{ site.baseurl }}/support/" class="nav-link{% if page.title == 'Support' %} active{% endif %}"><i class="fa fa-life-ring"></i> Support</a></li>
          <li class="nav-item"><a href="{{ site.github }}" class="nav-link"><i class="fa fa-github"></i> Github</a></li>
        </ul>
      </div>
    </nav>
  </div>
</div>
