/**
 *
 * -----------------------------------------------------------
 *
 * Codestar Framework
 * A Simple and Lightweight WordPress Option Framework
 *
 * -----------------------------------------------------------
 *
 */
.csf {
  margin-left: 20px;
  margin-right: 0;
}

.csf-header h1 {
  float: right;
}
.csf-header fieldset {
  float: left;
}

.csf-buttons {
  float: left;
}

.csf-header-left {
  float: right;
}

.csf-header-right {
  float: left;
}

.csf-nav {
  float: right;
}
.csf-nav ul {
  clear: right;
}
.csf-nav ul li .csf-section-active:after {
  right: auto;
  left: 0;
  border-left-color: #fff;
  border-right-color: transparent;
}
.csf-nav ul li .csf-arrow:after {
  content: "\f053";
  right: auto;
  left: 10px;
}
.csf-nav ul li.csf-tab-active .csf-arrow:after {
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
.csf-nav ul ul li a {
  padding-right: 25px;
  padding-left: 15px;
}
.csf-nav ul ul:before {
  left: auto;
  right: 15px;
}
.csf-nav .fa {
  margin-left: 5px;
  margin-right: 0;
}

.csf-nav-background {
  left: auto;
  right: 0;
}

.csf-content {
  margin-left: 0;
  margin-right: 225px;
}

.csf-sections {
  float: right;
}

.csf-show-all .csf-content {
  margin-right: 0;
  overflow: hidden;
}

.csf-expand-all {
  right: auto;
  left: 40px;
}

.csf-search input {
  margin: 0 10px 0 0;
}

.csf-copyright {
  float: right;
}

.csf-metabox {
  margin: -6px -12px -12px -12px;
}
.csf-metabox .csf-section-title {
  padding: 20px;
}

.csf-field .csf-title {
  float: right;
}
.csf-field .csf-fieldset {
  margin-left: 0;
  margin-right: 30%;
}

.csf-pseudo-field {
  padding: 0 0 0 5px !important;
}

.csf-field-number em {
  margin-left: 0;
  margin-right: 5px;
}

.csf-field-typography select {
  margin-right: 0;
  margin-left: 5px;
}

.csf-field-checkbox .horizontal li,
.csf-field-radio .horizontal li {
  margin-right: 0;
  margin-left: 15px;
}

.csf-field-switcher label {
  float: right;
}
.csf-field-switcher .csf-text-subtitle {
  float: right;
  margin-left: 0;
  margin-right: 5px;
}

.csf-field-upload .csf--remove {
  margin-left: 0;
  margin-right: 10px;
}

.csf-field-group .csf-cloneable-title {
  padding: 15px 10px 15px 65px;
}
.csf-field-group .csf-cloneable-helper {
  right: auto;
  left: 10px;
}

.csf-field-repeater .csf-cloneable-helper {
  border-left: 0;
  border-right: 1px solid #eee;
}

.csf-help {
  right: auto;
  left: 5px;
}

.csf-field-icon .button {
  margin-right: 0;
  margin-left: 5px;
}
.csf-field-icon .csf-icon-preview i {
  margin-right: 0;
  margin-left: 5px;
}

.csf-field-gallery ul li {
  margin-right: 0;
  margin-left: 5px;
}
.csf-field-gallery .button {
  margin-right: 0;
  margin-left: 5px;
}

.csf-field-sorter .csf-modules {
  float: right;
}
.csf-field-sorter .csf-disabled {
  margin-left: 0;
  margin-right: 15px;
}

.csf-field-tabbed .csf-tabbed-nav .fa {
  padding-right: 0;
  padding-left: 5px;
}
.csf-field-tabbed .csf-tabbed-nav a {
  margin-right: 0;
  margin-left: 5px;
}

.csf-taxonomy-add-fields .csf-fieldset {
  margin-right: 0;
}
.csf-taxonomy-add-fields .csf-field > .csf-fieldset > .csf-help {
  left: -5px;
  right: auto;
}

.csf-taxonomy-edit-fields .csf-fieldset {
  margin-left: 0;
  margin-right: 225px;
}
.csf-taxonomy-edit-fields .csf-field > .csf-fieldset > .csf-help {
  right: auto;
  left: -5px;
}

.csf-modal-content .csf-field {
  padding: 15px 15px 15px 30px;
}

.csf-modal-title {
  padding: 0 16px 0 36px;
}

.csf-modal-close {
  right: auto;
  left: 0;
}

@media only screen and (max-width: 1200px) {
  .csf-metabox .csf-field .csf-fieldset {
    margin-left: 0;
  }
}
@media only screen and (max-width: 782px) {
  .csf .csf-fieldset,
  .csf .csf-content {
    margin-right: 0;
  }
}
.csf-field .csf--transparent-slider {
  margin-left: 0;
  margin-right: 2px;
}
.csf-field .csf--transparent-slider .ui-slider-handle {
  margin: 0 -11px;
}
.csf-field .csf--transparent-offset {
  background-position: center right;
}
.csf-field .csf--transparent-text {
  right: auto;
  left: 10px;
}
