:root{
  --theme-color: #2d67cb;
}

.clear{
  clear: both;
}

/* Search Edit */
.sidebar .search input{
  font-size: 12px;
}

/* Section Edit */
.markdown-section{
  max-width: 1140px;
  padding: 30px 35px 40px 15px;
}

/* Pre-Code Edit */
.markdown-section pre{
  padding: 0;
}

.markdown-section pre code{
  padding: 15px;
  margin: 0;
}

/* Table Edit */
.markdown-section table{
  display: table;
}

.markdown-section td,
.markdown-section th{
  text-align: left;
}

.markdown-section thead th{
  padding: 8px 13px;
  background-color: #f0f0f0;
}

/* Link Edit */
.markdown-section a:hover{
  text-decoration: none;
}

/* Divider */
.markdown-section hr{
  margin-left: -1000px;
  margin-right: -1000px;
  border-bottom-width: 2px;
}

/* Preheading */
.markdown-section .pre-heading{
  font-size: 13px;
  font-weight: bold;
  padding: 6px 10px;
  margin-bottom: 4px;
  color: #2d67cb;
  background-color: #f8f8f8;
  border-left: 4px solid #2d67cb;
  display: inline-block;
  text-transform: uppercase;
}

/* More Link */
.markdown-section .csf-more-link{
  display: inline-block;
  text-decoration: none;
  font-size: 12px;
  width: 16px;
  height: 16px;
  line-height: 16px;
  border-radius: 16px;
  text-align: center;
  color: #fff;
  background-color: #2d67cb;
  vertical-align: top;
}

/* Tabs */
.csf-tabs{
  margin-top: 20px;
  margin-bottom: 20px;
}

.csf-tab-contents p{
  margin: 5px 0;
}

.csf-tab-contents{
  float: left;
  width: 100%;
  padding: 0;
  margin-top: -2px;
  border-top: 2px solid #eee;
}

.csf-tab-content{
  display: none;
}

.csf-tab-content.csf-tab-active{
  display: block;
}

.csf-tab-title{
  position: relative;
  float: left;
  cursor: pointer;
  font-weight: bold;
  padding: 15px 10px;
  font-size: 13px;
  color: #999;
  border-bottom: 2px solid transparent;
  user-select: none;
  -webkit-user-select: none;
}

.csf-tab-title:hover{
  color: #222;
  border-bottom-color: #eee;
}

.csf-tab-title.csf-tab-active{
  color: #222;
  border-bottom-color: #333;
  background-color: #f5f5f5;
}

/* Logo */
.csf-logo{
  position: relative;
  overflow: hidden;
  padding: 50px 15px;
  width: 100%;
  color: #fff;
  font-weight: bold;
  text-align: center;
  background-image: linear-gradient( 45deg, #2d67cb, #ad19f3);
  box-shadow: 0 1px 4px rgba(0,0,0,0.25), inset 0 0 0 4px rgba(0,0,0,0.25);
}

.csf-logo-effects i{
  position: absolute;
  width: 200px;
  height: 100px;
  background-color: rgba(0,0,0,0.15);
  transform: rotate(-45deg);
}

.csf-logo-effects i:nth-child(1){
  bottom: -20px;
  right: -70px;
}

.csf-logo-effects i:nth-child(2){
  bottom: -35px;
  right: -80px;
}

.csf-logo-effects i:nth-child(3){
  bottom: -50px;
  right: -90px;
}

.csf-logo-effects i:nth-child(4){
  bottom: -65px;
  right: -100px;
}

.csf-core-logos{
  margin-bottom: 10px;
}

.csf-core-logos img{
  vertical-align: top;
  border-radius: 100%;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.15);
}

.csf-wp-plugin-logo{
  width: 60px;
  height: 60px;
  padding: 7px;
  border: 3px solid #fff;
}

.csf-wp-logo{
  width: 25px;
  height: 25px;
  margin-right: 2px;
}

.csf-logo-title{
  position: relative;
  font-size: 14px;
  line-height: 1.4em;
  text-transform: uppercase;
  text-shadow: 1px 1px 0 rgba(0,0,0,0.25);
}

.csf-logo-slogan{
  opacity: 0.5;
}

.csf-logo-version{
  position: absolute;
  right: 8px;
  bottom: 4px;
  font-size: 11px;
}

/* Credit Text */
.csf-credit-text{
  font-size: 11px;
  color: #999;
}

.csf-credit-text a{
  color: #999;
  font-weight: bold;
  text-decoration: none;
}

/* Sidebar Edit */
.sidebar .search{
  background-color: #f5f5f5;
}

.sidebar .sidebar-nav{
  padding-bottom: 0;
}

.clear-button{
  cursor: pointer;
}

.sidebar .csf-credit-text{
  padding: 15px;
}

.sidebar .csf-logo{
  padding: 15px;
}

.sidebar .csf-logo-link{
  text-decoration: none;
}

/* Sidebar Toogle Edit */
.sidebar-toggle{
  width: auto;
  height: auto;
  line-height: 1;
  cursor: pointer;
  top: 20px;
  left: 0;
  padding: 10px;
  bottom: auto;
  transition: all 250ms ease-out;
  background-color: rgba(0,0,0,0.25);
  border-radius: 0 2px 2px 0;
}

.sidebar-toggle:hover{
  background-color: rgba(0,0,0,0.5);
}

.sidebar-toggle span{
  width: 16px;
  height: 2px;
  margin: 2px 0;
  background-color: #fff;
}

.close .sidebar-toggle span:nth-child(1),
.close .sidebar-toggle span:nth-child(3){
  opacity: 0;
}

@media screen and (max-width: 768px){

  /* Sidebar Toogle Edit */
  .sidebar-toggle{
    width: auto;
    height: auto;
    line-height: 1;
    cursor: pointer;
    bottom: auto;
    background-color: #eee !important;
    border-radius: 0;

    padding: 15px !important;
    top: 0;
    right: 0;
    left: auto;
    width: auto !important;
  }

  .sidebar-toggle:hover{
    background-color: #ddd;
  }

  .sidebar-toggle span{
    width: 14px;
    height: 2px;
    margin: 3px 0;
    background-color: #555;
  }

  .markdown-section table{
    width: 100%;
    display: block;
    overflow: hidden;
    overflow-x: scroll;
    white-space: nowrap;
  }
}
